<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>
<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
        <div class="container-1">
            <ul>
                <li>
                    <a th:href="@{/}">HOME</a>
                    <a th:href="@{/productList}"> SHOP </a>
                    <a th:href="@{/shoppingCart}" ><i class="fas fa-cart-arrow-down">CART</i></a>
                    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
                        <a th:href="@{/admin/orderList}">
                            Order List
                        </a>
                        <a th:href="@{/admin/accountInfo}">
                            AccountInfo
                        </a>
                        <a th:href="@{/forgotpassword}">
                            Change Password
                        </a>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                        <a th:href="@{/admin/product}">
                            Create Product
                        </a>
                        |
                        <a th:href="@{/manageraccount}">Manager Account</a>
                    </th:block>
                </li>
            </ul>
        </div>
</div>
</body>
</html>