<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>


<div class="login-container" style="position: relative; padding-left: 50px " >
    <br>
    <h2 style="margin-top: 50px">Enter Email</h2>
    <div th:if="${errorMessage!= null}" class="error-message" th:utext="${errorMessage}">
    </div>
    <br>
    <form method="POST" th:object="${AccountForm}"
          th:action="@{/forgotpassword}">
        <table style="position: relative; padding-left: 30px ">
            <tr>
                <td>Email *</td>
                <td><input th:field="*{email}" class = "login-input" name="email" /></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td>
                    <br>
                    <input class = "btn btn-warning" style="align-content: center" type="submit"  value="send OTP" />
                </td>
            </tr>
        </table>
    </form>
</div>
<th:block th:include="/_footer"></th:block>
</body>
</html>